name: AvicaRDP-Windows
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    name: Running on Windows Server
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Download and Setup
        shell: powershell
        run: |
          # ফাইল ডাউনলোড (পাওয়ারশেল ব্যবহার করে)
          Invoke-WebRequest -Uri "https://gitlab.com/userup908/my-rdp/-/raw/main/setup.py" -OutFile "setup.py"
          Invoke-WebRequest -Uri "https://download.avica.com/AvicaLite_v8.0.8.9.exe" -OutFile "Avica_setup.exe"
          Invoke-WebRequest -Uri "https://gitlab.com/userup908/my-rdp/-/raw/main/show.bat" -OutFile "show.bat"
          Invoke-WebRequest -Uri "https://gitlab.com/userup908/my-rdp/-/raw/main/loop.bat" -OutFile "loop.bat"
          
          # পাইথন প্যাকেজ ইনস্টল
          python -m pip install requests pyautogui telegraph --quiet
          
          # RDP এনাবল করা
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
          # পাসওয়ার্ড সেট
          net user runneradmin TheDisa1a
          
          # Avica ইনস্টল শুরু করা
          Start-Process "Avica_setup.exe"
          python setup.py

      - name: Keep Alive
        shell: cmd
        run: |
          echo "Windows Server is keep alive..."
          loop.bat
